<!--     <div class="row align-center collapse">
      <div class="small-12 column">
        <div id="header_claim">
          <h3>«Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut»</h3>
        </div>
        <div class="resizer">
          <iframe id="player"
              src="https://www.youtube.com/embed/rcY_Xx6MJpk?enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;autohide=1"
              frameborder="0" 
              allowfullscreen=""
              onload="this.height=this.contentWindow.document.body.scrollHeight;"
              width="100%"
              >
          </iframe>
        </div>
      </div>
    </div> -->



<div class="row align-center collapse">
  <div class="small-12 column">
    <div id="header_claim">
      <h3>«Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut»</h3>
    </div>
    <div class="responsive-embed">
      <iframe
        id="player"
        width="420"
        height="315"
        src="https://www.youtube.com/embed/rcY_Xx6MJpk?enablejsapi=1&amp;rel=0&amp;showinfo=0&amp;autohide=1"
        frameborder="0"
        allowfullscreen=""
        >
      </iframe>
    </div>
  </div>
</div>